<!-- <button (click)="AddUser()">addNewUser</button> -->

<div class="container my-5">
  <!-- <h1>{{fname | dirty}}</h1> -->
  <form (ngSubmit)="AddUser()" #userFrom="ngForm">
    <!-- Name Input -->
    <div class="mb-3">
      <label for="name" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter your last name"
        required
        minlength="3"
        [(ngModel)]="userProp.fname"
        name="fname"
        #fname="ngModel"
        [ngClass]="{
          'is-invalid': (fname.dirty || fname.touched) && fname.invalid,
          'is-valid': fname.valid
        }"
      />

      <div class="invalid-feedback">
        @if(fname.errors?.['required']){
        <p>first name is required</p>
        }@else if (fname.errors?.['minlength']) {

        <p>minlength at least 3</p>
        }
      </div>
    </div>

    <!-- Email Input -->
    <div class="mb-3">
      <label for="email" class="form-label">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter your email"
        required
        [(ngModel)]="userProp.email"
        name="email"
        #email="ngModel"
        [ngClass]="{ 'is-valid': email.valid }"
      />
    </div>

    <!-- Password Input -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Enter your password"
        required
        [(ngModel)]="userProp.password"
        name="password"
        #pass="ngModel"
      />
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      class="btn btn-custom w-100"
      [disabled]="userFrom.invalid"
    >
      Submit
    </button>
  </form>
</div>
